<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
  <body>
     <div id="p1">
       <%= @player_one.name %>
       <p id="p1Health"> <%= @player_one.health %> </p>
       <form action='/attack' method='POST'>
         <input name="playerAction" value="You attacked player2" type="hidden">
         <input name="playerMove" value="@game.attack(@player_two)" type="hidden">
         <input type="submit" value="Attack!" id="p1_attack">
       </form>
     </div>
     <br>
       <div id="p2">
       <%= @player_two.name %>
       <p id="p2Health"> <%= @player_two.health  %></p>
       <form action='/attack' method='POST'>
         <input name="playerAction" value="You attacked player1!" type="hidden">
         <input name="playerMove" value="@game.attack(@player_one)" type="hidden">
         <input type="submit" value="Attack!" id="p2_attack">
       </form>
     </div>
     <%= @message %>
     <br>
     <%= @game.messages %>
  </body>
</html>
